.main{
    display: flex;     
    justify-content: center;
    background: var(--background-primary);  
  }    
  
  .content_home{     
    width: 100%;     
    min-height: 100vh;     
    max-width: 1400px;   
  }    
  
  header{     
    display: flex;     
    color: var(--title-header);     
    align-items: center;     
    justify-content: space-between;     
    margin-top: 1rem;     
    padding: 0 35px;     
    width: 100%;   
  }    
  
  header h1{     
    font-weight: 400;     
    font-size: 1.6rem;   
  }    
  
  header strong{     
    font-weight: 400;     
    color: var(--title-strong);   
  }    
  
  header p {     
    font-size: 1.1rem;     
    font-weight: 300;     
    display: flex;     
    justify-content: center;     
    flex-direction: row;     
    align-items: center;     
    gap: 5px;   
  }    
  
  header p span{     
    background: transparent;
  }    
  
  header p span img{     
    width: 25px;   
  } 